# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\gorbu\OneDrive\Рабочий стол\Учеба\Четвертый курс\1 семестр\РО\Лаба\ECG_analyzer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
